{% if person.twitter != null %}
    <li><a class="contact-icon" target="_blank" href="http://twitter.com/{{ person.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
{% endif %}
{% if person.github != null %}
    <li><a class="contact-icon" target="_blank" href="http://github.com/{{ person.github }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
{% endif %}
{% if page.orcid != null %}
    <li><a class="contact-icon" target="_blank" href="http://orcid.org/{{ page.orcid }}"><i class="ai ai-orcid" aria-hidden="true"></i></a></li>
{% endif %} 